
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="input-group">
        <input type="file" name="formFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Yükle</button>
</form>